@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
    --color-secondary: #3bbf3f;
    --color-dark: #0A3622;
    --color-light: #4CAF50;
    --color-black: #121212;
    --color-cosmic-black: #080808;
    --color-cosmic-darkgray: #121212;
    --color-cosmic-shadow: #000000;
    --color-cosmic-gradient: radial-gradient(circle at center, rgba(8,8,8,0.9) 0%, rgba(0,0,0,1) 90%);
    --font-Poppins: "Poppins", sans-serif;
    --font-Inter: "Inter", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --color-cosmic-gradient: radial-gradient(circle at center, rgba(8,8,8,0.9) 0%, rgba(0,0,0,1) 90%);
}

body{
    font-family: "Inter", sans-serif;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem /* 32px */;
    padding-left: 2rem /* 32px */;
}

.animate-twinkle {
    animation: twinkle 3s ease-in-out infinite;
}
.from-background {
    --tw-gradient-from: hsl(var(--background)) var(--tw-gradient-from-position);
    --tw-gradient-to: hsl(var(--background) / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }

.swiper-button-next,
.swiper-button-prev {
  color: #3bbf3f !important;
  width: 2rem !important;
  height: 2rem !important;
}

@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 1.25rem !important;
    height: 1.25rem !important;
  }
}

.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.3) !important;
  opacity: 1 !important;
  width: 8px !important;
  height: 8px !important;
  margin: 0 4px !important;
  transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
  background-color: #3bbf3f !important;
  pad: 50px !important;
  width: 10px !important;
  height: 10px !important;
}
